<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actividad 3</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="app">
        <Mainheader></Mainheader>
        <div class="content">
            <form class="form">
                <h2 class="form-title">Crear Post</h2>

                <label>Titulo:
                    <input v-model="titlePost" type="text" name="title">
                </label>

                <label>Contenido:</label>
                <textarea v-model="contentPost" name="content"></textarea>

                <div>
                    <label>Autor:</label>
                    <select v-model="authorPost">
                        <option>Yo</option>
                        <option>Tu</option>
                        <option>El</option>
                    </select>
                </div>

                <input v-model="imagePost" type="file">

                <button type="button">Subir Post</button>
                <button type="button">Guardar Cambios</button>
            </form>
            <section class="posts">
                <Post v-for="post in "></Post>
                {{titlePost}}
                {{contentPost}}
                {{authorPost}}
                {{creationDatePost}}
            </section>
        </div>
        <Mainfooter></Mainfooter>
    </div>
    
    <script type="module">
        import Mainheader from "./Mainheader.js";
        import Mainfooter from "./Mainfooter.js";

        const { createApp } = Vue;
        let app = createApp({
            data: function () {
                return {
                    posts: [],
                    titlePost: "",
                    contentPost: "",
                    imagePost: "",
                    authorPost: "",
                    creationDatePost: new Date().toLocaleDateString("en-GB"),
                };
            },
            components: {
                Mainheader,
                Mainfooter
            },
            methods: {
                createPost: function(){

                }
            }
    
        }).mount('#app')
    </script>
    
</body>


</html>