<!DOCTYPE html>
<html lang="e">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descenso a la locura por Vue</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <h2>List of Posts</h2>
        <ul v-if="posts.length">
            <li v-for="(item, index) in posts" v-bind:key="index">
                {{item.title}}
                {{item.content}}
                <button v-on:click="editPost">Editar</button>
                <button v-on:click="deletePost">Eliminar</button>
            </li>
        </ul>
        <h2>Create Post</h2>
        <form>
            <input v-model="title" type="text" name="title">
            <input v-model="content" type="text" name="content">
            <button type="button" v-on:click="savePost">Subir Post</button>
        </form>
    </div>
    <script>
        const { createApp } = Vue;
        let app = createApp({
            data() {
                return {
                    title: "",
                    content: "",
                    posts: []
                };
            },
            // Methods
            methods: {
                savePost: function () {
                    let post = { title: this.title, content: this.content };
                    this.posts.push(post);
                },

                editPost: function (key) {
                    console.log(key);
                },

                deletePost: function () {
                    
                }
            }
        }).mount('#app')
    </script>
</body>

</html>